
<!-- Basic -->
<h4>Basic</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)"></p-autoComplete>
</div>


<!-- Reactive Forms -->
<h4>Reactive Forms</h4>
<div class="card flex justify-content-center">
  <form [formGroup]="formGroup">
      <p-autoComplete formControlName="selectedCountry"
        [suggestions]="filteredCountries"
        (completeMethod)="filterCountry($event)" field="name">
      </p-autoComplete>
  </form>
</div>


<!-- Dropdown -->
<h4>Dropdown</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedCountry" [dropdown]="true" [suggestions]="filteredCountries"
    (completeMethod)="filterCountry($event)" field="name"></p-autoComplete>
</div>


<!-- Objects -->
<h4>Objects</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedCountry" [suggestions]="filteredCountries"
    (completeMethod)="filterCountry($event)" field="name"></p-autoComplete>
</div>


<!-- Template -->
<h4>Template</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries"
    (completeMethod)="filterCountry($event)" field="name">
    <ng-template let-country pTemplate="item">
      <div class="flex align-items-center gap-2">
        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" />
        <div>{{ country.name }}</div>
      </div>
    </ng-template>
  </p-autoComplete>
</div>


<!-- Grouped -->
<h4>Grouped</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedCity" [group]="true" [suggestions]="filteredGroups" (completeMethod)="filterGroupedCity($event)" placeholder="Hint: type 'a'">
      <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
              <span>{{ group.label }}</span>
          </div>
      </ng-template>
  </p-autoComplete>
</div>


<!-- Virtual Scroll -->
<h4>Virtual Scroll</h4>
<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems"
    [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
  </p-autoComplete>
</div>


<!-- Multiple -->
<h4>Multiple</h4>
<div class="card">
  <span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedItems" [suggestions]="items_multiple" (completeMethod)="search($event)"
      [multiple]="true"></p-autoComplete>
  </span>
</div>









